'use strict'
module.exports = {
  NODE_ENV: '"test"',
  API_URL: '"https://DOMAIN_TEST_AEREO_API/transporte-backend/api/"',
  GRAPHQL_URL: '"https://DOMAIN_TEST_AEREO_API/transporte-backend/graphql/"',
  AUTH_URL: '"https://DOMAIN_TEST_AEREO_API/transporte-backend/auth"',
  TIME_SESSION_EXPIRED: 30,
  ONBEFOREUNLOAD: false,
  AUTH_TOKEN: '"Bearer"',
  LANG: '"es"',
  DEBUG_MODE: false
}
